.custom-tabs .nav-link {
  color: #555;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  padding-bottom: 8px;
}

.custom-tabs .nav-link.active {
  color: #d70018 !important; /* màu đỏ đậm */
  font-weight: 600;
  border-bottom: 2px solid #d70018;
  background-color: transparent !important;
}

.custom-tabs .nav-item {
  margin-right: 16px;
}
