.notfound-container {
  padding: 60px 20px;
}

.notfound-image {
  max-width: 400px;
  margin-bottom: 20px;
}

.btn-back  {
  background-color: #FFFFFF !important;
  color: #c92127 !important;
  border: 1px solid #c92127 !important;
  padding: 10px 20px !important;
  border-radius: 6px !important;
  font-weight: 500 !important;
  transition: all 0.3s ease !important;
}

.btn-back:hover {
  background-color: #a11b1f !important;
  color: #ffffff !important;  
  transform: translateY(-2px) !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) !important;
}

